<strong> Olá, {{ organizer.name }} </strong>

<p>Seu meetup {{ meetup.title}} recebeu uma nova subscrição</p>

<p>
  O {{ user.name }} acabou de se inscrever no seu meetup!
</p>

<p>Este evento vai ocorrer no {{ meetup.date }}</p>

